<md-card ng-init="xactive=false;xvote=false;" style="padding:.5em 1em;margin:.5em;position:relative;border:1px solid #ccc;border:1px solid #ddd;background-color:{{xcard.name==='bookmarked'?'#fff':'#fafafa'}};">
  <div ng-click="xactive=!xactive" style="position:absolute;right:0em;top:-.2em;color:{{xactive?xcard.xcolor:'#ddd'}}"><i class="fa fa-2x fa-bookmark"></i></div>
  <div class="card-header">
    <a href="#">10/12/15 04:10 P.M.</a><a href="#" style="text-decoration:underline;">J. K. Rolling</a>
  </div>
  <md-card-title style="padding:0;margin-top:-.25em;">
    <md-card-title-text style="margin:0;xheight:3em;">
      <span class="md-subhead" style="font-size:.9em;color:#888;{{xcard.name==='bookmarked'?'#fff':'#222'}};">En este documento expongo todos los planes que hemos diseñado con la ayuda de expertos en cada materia y que realizaremos en el segundo tiempo con el apoyo todos los mexicanos. Hacia la construcción del país que soñamos para nosotros y para nuestros hijos.</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions id="xactions" layout="row" layout-align="end center" style="background-color:#eee;margin:1em -1em -.5em -1em;">
    <md-button ui-sref="artifact"><span style="font-size:.8em;">Abrir</span><i class="fa fa-expand"></i></md-button>
    <!-- <md-button><span style="font-size:.8em;">Reportar</span><i class="fa fa-flag"></i></md-button> -->
    <md-button>1.2k<i class="fa fa-comments"></i></md-button>
    <md-button class="score" ng-click="xvote=!xvote">200<i style="color:{{xvote?xcard.xcolor:'#ccc'}};" class="fa fa-arrow-circle-up"></i></md-button>
  </md-card-actions>
</md-card>
