<xmenu xselection=xcountry.xselection></xmenu>

<div id="governments" class="xcontainer" style="margin:0;padding:0;">
  <div style="xborder:4px solid red;position:fixed;height:4em;width:100%;z-index:200;width:100%;height:10em;text-align:center;">
    <div>
        <div class="visible-xs" style="padding:.5em 0;color:#fff;xborder:1px solid red;background-color:#000;">
          <div style="text-align:center;width:100%;text-aglin:center;">{{xcountry.country.name}}</div>
          <div ng-if="governments.back" ui-sref="governments.back" style="position:absolute;left:-.5em;top:.6em;color:#ddd;"><i class="fa fa-chevron-left"></i></div>
        </div>
        <div class="hidden-xs" style="text-align:center;width:100%;text-aglin:center;color:#fff;padding:.75em 0;background-color:#000;width:100%;z-index:200;">
          <div>{{ xcountry.country.name }}</div>
          <div ng-if="back">
          </div>
          <div ng-if="governments.back" ui-sref="governments.back" style="position:absolute;left:-.5em;top:.6em;color:#ddd;"><i class="fa fa-chevron-left"></i></div>
        </div>
    </div>
  </div>


  <div class="government" style="background-color:#222;">
    <div class="hidden-xs" style="padding-top:.5em;"> </div>
    <div style="text-align:center;"><img ng-src="/assets/images/{{xcountry.country.government.party}}.png"/></div>
    <div class="hidden-xs" style="padding-top:.25em;"> </div>
    <div style="text-align:center;padding-top:.5em;">{{xcountry.country.government.vato}}</div>
    <div style="text-align:center;padding-top:.25em;">{{xcountry.country.government.period_start}} - {{xcountry.country.government.period_end}}</div>
  </div>


  <div style="background-color:#fff;height:{{xcountry.windowHeight-224}}px;border:5px solid red;z-index:200;">
    <div ng-if="xcountry.xselection === 'govs'" xclass="country">
      <governments name={{xcountry.country.name}} link='region'
        list=xcountry.country.regions gov=xcountry.country.government></governments>
    </div>
    <div ng-if="xcountry.xselection === 'score'" xclass="country">
      <score></score>
    </div>
    <div ng-if="xcountry.xselection === 'artifacts'" xclass="country">
      <artifacts></artifacts>
    </div>
    <div ng-if="xcountry.xselection === 'forums'" xclass="country">
      <forums></forums>
    </div>
  </div>
</div>


<xfooter class="hidden-xs" xborder=1></xfooter>
