<div style="width:100%;max-width:900px;margin:0 auto;xborder:4px solid red;">
  <div style="position:fixed;height:4em;z-index:200;width:100%;height:10em;text-align:center;max-width:900px;">
    <div>
        <div style="text-align:center;width:100%;text-aglin:center;color:#fff;padding:.75em 0;background-color:#000;width:100%;z-index:200;">
          <div>{{ xcountry.country.name }}</div>
          <div ng-if="back">
          </div>
          <div ng-if="governments.back" ui-sref="governments.back" style="position:absolute;left:-.5em;top:.6em;color:#ddd;"><i class="fa fa-chevron-left"></i></div>
        </div>
    </div>
  </div>


  <div class="government" style="background-color:#eee;color:#222;height:11em;font-size:1.5em;position:relative;z-index:100;">

    <div xng-if="xcountry.xselection !== 'score'" style="position:absolute;right:2em;top:4.5em;xborder:1px solid white;z-index:400;">
      <i class="fa fa-1x fa-star" style="color:#222;ffd700;"></i>
      <i class="fa fa-1x fa-star-half-full" style="color:#222;ccc;"></i>
      <i class="fa fa-1x fa-star" style="color:#ccc;"></i>
      <i class="fa fa-1x fa-star" style="color:#ccc;"></i>
      <i class="fa fa-1x fa-star" style="color:#ccc;"></i>
      <div style="text-align:center;padding-top:1em;font-size:.5em;">
        423 Ciudadanos
      </div>
    </div>


    <div style="padding-top:.5em;"> </div>
    <div style="text-align:center;"><img style="height:3em;" ng-src="/assets/images/{{xcountry.country.government.party || 'blk'}}.png"/></div>
    <div style="padding-top:.25em;"> </div>
    <div style="text-align:center;padding-top:.5em;">{{xcountry.country.government.vato}}</div>
    <div style="text-align:center;padding-top:.25em;">{{xcountry.country.government.period_start}} - {{xcountry.country.government.period_end}}</div>
  </div>


  <div style="background-color:#000;xpadding:1em;xheight:3.5em;margin:0;">
    <div class="lgmenu" style="xborder:1px solid red;padding:1em 0;">
      <ul style="width:28em;">
        <li ng-click="xcountry.xselection = 'suggestions'" ng-class="{active: xcountry.xselection === 'suggestions'}"><i xclass="fa fa-2x fa-star"/><p>Propuestas</p></li>
        <li ng-click="xcountry.xselection = 'complaints'" ng-class="{active: xcountry.xselection === 'complaints'}"><i xclass="fa fa-2x fa-bullseye"/><p>Quejas</p></li>
        <li ng-click="xcountry.xselection = 'forums'" ng-class="{active: xcountry.xselection === 'forums'}"><i xclass="fa fa-2x fa-commenting"/><p>Foros</p></li>
        <li ng-click="xcountry.xselection = 'govs'" ng-class="{active: xcountry.xselection === 'govs'}"><i xclass="fa fa-2x fa-map"/><p>{{xcountry.subs()}}</p></li>
      </ul>
    </div>
  </div>



  <div style="background-color:#fff;height:{{xcountry.windowHeight-314}}px;xborder:5px solid red;z-index:200;margin-top:0;overflow-y:auto;">
    <div ng-if="xcountry.xselection === 'govs'" xclass="country">

        <governments
          name={{xcountry.country.name}}
          link="{{xcountry.govlink()}}"
          list=xcountry.govs()
          gov=xcountry.country.government></governments>

    </div>
    <div ng-if="xcountry.xselection === 'score'" xclass="country">
      <score></score>
    </div>
    <div ng-if="xcountry.xselection === 'suggestions'" xclass="country">
      <artifacts></artifacts>
    </div>
    <div ng-if="xcountry.xselection === 'complaints'" xclass="country">
      <artifacts></artifacts>
    </div>
    <div ng-if="xcountry.xselection === 'forums'" xclass="country">
      <forums></forums>
    </div>

    <div style="position:fixed;bottom:0;height:4em;z-index:200;width:100%;height:3em;text-align:center;max-width:900px;border-top:{{xfooter.xborder}}px solid #ddd;padding-top:1em;background-color:#222;color:#fff;">
      <p>Copyright &copy; <a href="http://1910.io" style="color:red;" target="_blank">1910.io</a></p>
    </div>
  </div>

</div>
