<section layout="row" style="z-index:400;xborder:1px solid red;padding:0;margin:0;" flex>
  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" style="xborder:2px solid blue;margin:0;padding:0;">
    <md-toolbar class="md-theme-light">
    </md-toolbar>
    <md-content layout-padding style="padding:0;margin:1em 0;">
      <div style="width:100%;text-align:center;"><img src="assets/images/pancho.png"></img></div>
      <md-button style="border:1px solid #aaa;width:100%;width:22.5em;margin-left:1.65em;padding:0;" ng-click="xcountry.closeMenu()" class="md-primary md-raised">Login</md-button>
      <md-button style="border:1px solid #aaa;width:100%;width:22.5em;margin-left:1.65em;margin-top:4em;padding:0;" ng-click="xcountry.closeMenu()" class="md-secondary">Registrate</md-button>
    </md-content>
  </md-sidenav>
</section>
