  <div style="xborder:4px solid red;position:fixed;width:100%;z-index:200;width:100%;height:12em;text-align:center;">
    <div>
        <div style="padding:1em 0;color:#fff;xborder:1px solid red;background-color:#000;">
          <div style="text-align:center;width:100%;text-aglin:center;">{{xcountry.country.name}}</div>
          <div ng-if="xcountry.backlink()" ng-click="xcountry.back()" style="position:absolute;left:.5em;top:1em;color:#ddd;"><i class="fa fa-chevron-left"></i></div>
        </div>
    </div>
  </div>

  <div class="government" style="background-color:#222;padding-top:4.5em;height:12em;">
    <div style="text-align:center;"><img ng-src="/assets/images/{{xcountry.country.government.party || 'blk'}}.png" style="height:2em;"/></div>
    <div style="text-align:center;padding-top:.5em;">{{xcountry.country.government.vato}}</div>
    <div style="text-align:center;padding-top:.25em;">{{xcountry.country.government.period_start}} - {{xcountry.country.government.period_end}}</div>
  </div>


  <div style="background-color:#fff;height:{{xcountry.windowHeight-254}}px;xborder:5px solid red;z-index:200;">
    <div ng-if="xcountry.xselection === 'govs'" xclass="country">
      <governments
        name={{xcountry.country.name}}
        link="{{xcountry.govlink()}}"
        list=xcountry.govs()
        gov=xcountry.country.government></governments>
    </div>
    <div ng-if="xcountry.xselection === 'score'" xclass="country">
      <score></score>
    </div>
    <div ng-if="xcountry.xselection === 'artifacts'" xclass="country">
      <artifacts></artifacts>
    </div>
    <div ng-if="xcountry.xselection === 'forums'" xclass="country">
      <forums></forums>
    </div>
  </div>
