<div>
  <xmenu xselection=xmunicipio.xselection></xmenu>
  <div id="governments" class="xcontainer" style="margin:0;padding:0;">
    <govheader name="{{xmunicipio.municipio.name}}" back="mexico"></govheader>
    <govvato x=xmunicipio.municipio.government></govvato>

    <div class="menu hidden-xs" style="background-color:#000;padding-top:.5em;height:2.25em;position:relative;top:0;margin-top:0;">
      <div class="menu-wrapper">
        <ul class="row">
          <li class="col-xs-3" ng-click="xmunicipio.xselection = 'score'" ng-class="{active: xmunicipio.xselection === 'score'}"><i xclass="fa fa-2x fa-star"/><p>Calificación</p></li>
          <li class="col-xs-3" ng-click="xmunicipio.xselection = 'artifacts'" ng-class="{active: xmunicipio.xselection === 'artifacts'}"><i xclass="fa fa-2x fa-bullseye"/><p>Propuestas</p></li>
          <li class="col-xs-3" ng-click="xmunicipio.xselection = 'forums'" ng-class="{active: xmunicipio.xselection === 'forums'}"><i xclass="fa fa-2x fa-commenting"/><p>Foros</p></li>
          <li class="col-xs-3" ng-click="xmunicipio.xselection = 'news'" ng-class="{active: xmunicipio.xselection === 'news'}"><i xclass="fa fa-2x fa-newspaper-o"/><p>Comunicados</p></li>
        </ul>
      </div>
    </div>

    <div style="background-color:#fff;height:{{xregion.windowHeight-224}}px;z-index:200;border:1px solid #fff;">
      <!-- <div ng-if="xregion.xselection === 'govs'"> -->
        <!-- <governments name="{{xmunicipio.municipio.name}}" link="municipio" list=xmunicipio.municipio.municipios
            gov=xmunicipio.municipio.government back="mexico"></governments>
      </div> -->
      <div ng-if="xmunicipio.xselection === 'score'">
        <score></score>
      </div>
      <div ng-if="xmunicipio.xselection === 'artifacts'">
        <artifacts></artifacts>
      </div>
      <div ng-if="xmunicipio.xselection === 'forums'">
        <forums></forums>
      </div>
    </div>
  </div>
</div>
