// .btn-success {
//   background-color:#7266ba;
// }
.xcontainer {
  max-width:960px;
  margin:0 auto;
}

.main-wrapper {
  width:100%;
  padding:1em;

  .main {
    background-color:#000;
    margin:0 auto;
    padding:6.5em 2em 5em 2em;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    .btn {
      width:10em;
      padding:.5em 0;
      border-radius:2px;
      &:first-child {
        margin-right:.5em;
      }
    }
  }
}

.blocks-wrapper {
  .blocks {
    &:first-child {
      background-color:#222;//#e74c3c;
      border-bottom-left-radius:6px;
      // color: #9a2013;
      color:#777;
    }
    &:nth-child(2) {
      background-color:#333;//3498d8;
      color:#666;
      // color: #12405d;
    }
    &:nth-child(3) {
      background-color:#444;//9b59b6;
      border-bottom-right-radius:6px;
      color:#777;
      // color: #2c1734;
    }
    i {
      padding:.5em 0;
      color:#fff;
    }
    b {
      color: #fff;
      font-weight:bold;
      font-size:1.15em;
    }
    background-color:#333;
    height:11em;
    text-align:center;
    color:#000;
    padding-top:1.5em;
    font-size:1em;
  }
}

// Landscape
@media only screen
    and (min-device-width : 375px) // or 213.4375em or 3in or 9cm
    and (max-device-width : 667px) // or 41.6875em
    and (width : 667px) // or 41.6875em
    and (height : 375px) // or 23.4375em
    and (orientation : landscape)
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 667/375)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2) {
}

// Portrait
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {

      .main-wrapper {
        .main {
          padding-top:1em;
          text-align:center;
          border-radius:4px;
          .btn {
            display:block;
            width:100%;
            padding:1em 0;
            border-radius:2px;
            margin:1em 0 1em 0;
          }
          .btn:first-child {
            margin-top:2.5em;
          }
        }
      }

      .blocks-wrapper {
        .blocks {
          &:first-child {
            border-bottom-left-radius:0;
          }
          &:nth-child(2) {
          }
          &:nth-child(3) {
            border-bottom-left-radius:6px;
          }
          i {
            padding:.5em 0 .25em 0;
            color:#fff;
          }
          b {
            color: #fff;
            font-weight:bold;
            font-size:1em;
          }
          .description {
            margin-top:-.5em;
          }
          background-color:#333;
          height:7.5em;
          text-align:center;
          color:#000;
          padding-top:0;
          font-size:1em;
        }
      }
}
