.pri { background-color: #d23026; }
.pan { background-color: #06338e; }
.prd { background-color: #ffcb01}
.pt  { background-color: red; }
.verde { background-color: #00923f; }
// .morena { background-color: }
.movciu { background-color: #ee4822; }
// .newali { background-color: }
.pes { background-color: }
.ind { background-color: #000; }


.xsmain {
  h1 {
    font-size:3em;
    font-family: 'Comfortaa',cursive;
    margin-top:-.5em;
    color:#fff;
  }
  img {
    height:16em;
    opacity:.2;
    padding-top:3em;
    padding-bottom:1em;
  }
  .slogan {
    transform: scaleY(1.2);
    color:#fff;
    opacity:.3;
    font-size:1em;
    font-weight:bold;
    letter-spacing:1px;
    padding:0 0 1em 0;
    margin-top:-1em;
    text-transform:uppercase;
  }
}

.lgmain {
  h1 {
    font-size:4.5em;
    font-family: 'Comfortaa', cursive;
    margin-top:-.5em;
    color:#fff;
  }
  .slogan {
    color:#fff;
    font-size:1.2em;
    letter-spacing:2px;
    padding:0 0 2em 3em;
    text-transform:uppercase;
    opacity:.3;
    margin-top:-1.3em;
  }
  img {
    margin-top:-4em;
    margin-left:-1em;
    height:16em;
    opacity:.2;
  }
}

// .btn-success {
//   background-color:#2ea3ff;
// }
.xcontainer {
  max-width:960px;
  margin:0 auto;
}

.main-wrapper {
  width:100%;
  padding:1em;

  .main {
    background-color:#000;
    margin:0 auto;
    padding:6.5em 2em 5em 2em;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    .btn {
      width:10em;
      padding:.5em 0;
      border-radius:2px;
      &:first-child {
        margin-right:.5em;
      }
    }
  }
}

.blocks-wrapper {
  .blocks {
    &:first-child {
      background-color:#444;//#e74c3c;
      border-bottom-left-radius:6px;
      // color: #9a2013;
      color:#000;
    }
    &:nth-child(2) {
      background-color:#555;//#3498d8;
      color:#000;
      // color: #12405d;
    }
    &:nth-child(4) {
      background-color:#666;//9b59b6;
      border-bottom-right-radius:6px;
      color:#000;
      // color: #2c1734;
    }
    i {
      padding:.5em 0;
      color:#000;
    }
    b {
      color: #fff;
      font-weight:bold;
      font-size:1.15em;
    }
    background-color:#333;
    height:11em;
    text-align:center;
    color:#000;
    padding-top:1.5em;
    font-size:1em;
  }
}


// Landscape
@media only screen
    and (min-device-width : 375px) // or 213.4375em or 3in or 9cm
    and (max-device-width : 667px) // or 41.6875em
    and (width : 667px) // or 41.6875em
    and (height : 375px) // or 23.4375em
    and (orientation : landscape)
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 667/375)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2) {
}

// Portrait
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {

      .main-wrapper {
        .main {
          padding-top:1em;
          text-align:center;
          border-radius:4px;
          .btn {
            display:block;
            width:100%;
            padding:1em 0;
            border-radius:2px;
            margin:1em 0 1em 0;
          }
          .btn:first-child {
            margin-top:2.5em;
          }
        }
      }

      .blocks-wrapper {
        .blocks {
          &:first-child {
            border-bottom-left-radius:0;
          }
          &:nth-child(2) {
          }
          &:nth-child(4) {
            border-bottom-left-radius:6px;
          }
          i {
            padding:.5em 0 .25em 0;
            color:#fff;
          }
          b {
            color: #fff;
            font-weight:bold;
            font-size:1em;
          }
          .description {
            margin-top:-.5em;
          }
          background-color:#333;
          height:7.5em;
          text-align:center;
          color:#000;
          padding-top:0;
          font-size:1em;
        }
      }
}
