<div style="xborder:4px solid red;position:fixed;width:100%;z-index:200;width:100%;height:12em;text-align:center;">
  <div>
      <div style="padding:1em 0;color:#fff;xborder:1px solid red;background-color:#000;">
        <div style="text-align:center;width:100%;text-aglin:center;">{{xregion.region.name}}</div>
        <div ui-sref="mexico" style="position:absolute;left:-.5em;top:.6em;color:#ddd;"><i class="fa fa-chevron-left"></i></div>
      </div>
  </div>
</div>

<div class="government" style="background-color:#222;padding-top:4.5em;height:12em;">
  <div style="text-align:center;"><img ng-src="/assets/images/{{xregion.region.government.party}}.png"/></div>
  <div style="text-align:center;padding-top:.5em;">{{xregion.region.government.vato}}</div>
  <div style="text-align:center;padding-top:.25em;">{{xregion.region.government.period_start}} - {{xregion.region.government.period_end}}</div>
</div>


<div style="background-color:#fff;height:{{xregion.windowHeight-254}}px;xborder:5px solid red;z-index:200;">
  <div ng-if="xregion.xselection === 'govs'">
    <governments name={{xregion.region.name}} link="municipio"
        list=xregion.region.municipios gov=xregion.region.government back="mexico"></governments>
  </div>
  <div ng-if="xregion.xselection === 'score'">
    <score></score>
  </div>
  <div ng-if="xregion.xselection === 'artifacts'">
    <artifacts></artifacts>
  </div>
  <div ng-if="xregion.xselection === 'forums'">
    <forums></forums>
  </div>
</div>
