<div id="myscores" layout="column" ng-cloak style="width:100%;max-width:900px;margin:0 auto;background-color:#fff;height:{{xmyscore.windowHeight}}px;">

  <md-toolbar class="md-info">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Calificaciones</h2>
      <md-button class="md-icon-button" ng-click="xmyscore.cancel()">
        <md-icon md-svg-src="assets/images/icons/ic_close_24px.svg" aria-label="Close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>

    <div id="score" style="margin-top:.5em;">
      <div ng-include src="'app/components/score/board2.html'"></div>
    </div>

    <div style="margin-top:1em;border-top:1px solid #ddd;border-bottom:1px solid #ddd;clear:both;height:4em;">
      <div style="float:left;padding:1em .15em;">Gobierno Federal</div>
      <div style="float:right;padding-top:.5em;padding-right:.2em">
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.federal=1" ng-class="{active: xmyscore.scores.federal>0}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.federal=2" ng-class="{active: xmyscore.scores.federal>1}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.federal=3" ng-class="{active: xmyscore.scores.federal>2}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.federal=4" ng-class="{active: xmyscore.scores.federal>3}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.federal=5" ng-class="{active: xmyscore.scores.federal>4}"></a>
      </div>
    </div>

    <div style="border-bottom:1px solid #ddd;clear:both;height:4em;">
      <div style="float:left;padding:1em .15em;">Gobierno Estatal</div>
      <div style="float:right;padding-top:.5em;padding-right:.2em">
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.estatal=1" ng-class="{active: xmyscore.scores.estatal>0}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.estatal=2" ng-class="{active: xmyscore.scores.estatal>1}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.estatal=3" ng-class="{active: xmyscore.scores.estatal>2}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.estatal=4" ng-class="{active: xmyscore.scores.estatal>3}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.estatal=5" ng-class="{active: xmyscore.scores.estatal>4}"></a>
      </div>
    </div>

    <div style="border-bottom:1px solid #ddd;clear:both;height:4em;">
      <div style="float:left;padding:1em .15em;">Gobierno Municipal</div>
      <div style="float:right;padding-top:.5em;padding-right:.2em">
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.municipal=1" ng-class="{active: xmyscore.scores.municipal>0}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.municipal=2" ng-class="{active: xmyscore.scores.municipal>1}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.municipal=3" ng-class="{active: xmyscore.scores.municipal>2}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.municipal=4" ng-class="{active: xmyscore.scores.municipal>3}"></a>
        <a class="fa fa-star fa-2x" ng-click="xmyscore.scores.municipal=5" ng-class="{active: xmyscore.scores.municipal>4}"></a>
      </div>
    </div>


  </md-content>

</div>
