<div class="visible-xs">
  <div id="governments" style="overflow:auto;background-color:white;padding-bottom:1em;">
    <div id="xselectable" ng-click="xgovernments.select(g)" class="fastclickable selection-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="g in xgovernments.list" style="-webkit-overflow-scrolling: touch;">
      <div class="selection btn" style="border:1px solid #eee;height:3em;width:100%;">
        <div style="position:relative;padding:0;">
          <img style="float:left;height:2em;padding-right:.5em;" ng-src="/assets/images/{{g.government.party || 'blk'}}.png" alt="{{ g.government.party }}">
          <div>
            <h3 style="padding-top:.35em;text-align:left;widht:100%;">{{ g.name }}</h3>
          </div>
          <div style="position:absolute;right:.25em;top:.5em;color:#ddd;"><i class="fa fa-chevron-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <div id="governments" style="overflow:auto;background-color:white;margin:0;">
    <div ng-click="xgovernments.select(g)" class="selection-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="g in xgovernments.list">
      <div class="selection" style="border:1px solid #eee;background-color:#fff;padding:.25em 0;font-size:1.2em;">
        <div style="position:relative;padding:.5em;">
          <img style="float:left;height:1em;padding-right:.5em;" ng-src="/assets/images/{{g.government.party || 'blk'}}.png" alt="{{ g.government.party }}">
          <div>
            <h3>{{ g.name }}</h3>
          </div>
          <div class="visible-xs" style="position:absolute;right:.25em;top:.65em;color:#ddd;"><i class="fa fa-chevron-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
