<div class="visible-xs">
  <div id="governments xs-governments" style="height:{{xgovernments.windowHeight}}px;">
    <div id="xselectable" class="selection-wrapper col-xs-12" ng-repeat="g in xgovernments.list">
      <div class="xselection fastclickable" ng-click="xgovernments.select(g)">
        <div class="xselection-item">
          <img ng-src="/assets/images/{{g.government.party || 'blk'}}.png" alt="{{ g.government.party }}">
          <div>
            <h3>{{ g.name }}</h3>
          </div>
          <div class="xselection-chevron"><i class="fa fa-chevron-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <div id="governments lg-governments">
    <div ng-click="xgovernments.select(g)" class="selection-wrapper col-md-4" ng-repeat="g in xgovernments.list">
      <div class="xselection">
        <div class="xselection-item">
          <img ng-src="/assets/images/{{g.government.party || 'blk'}}.png" alt="{{ g.government.party }}">
          <div>
            <h3>{{ g.name }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
