<!-- <div class="government" style="background-color:#222;xborder:1px solid red;height:11em;">
  <div class="hidden-xs" style="padding-top:.5em;"> </div>
  <div style="text-align:center;"><img style="height:2em;" ng-src="/assets/images/{{ xgovvato.x.party }}.png"/></div>
  <div class="hidden-xs" style="padding-top:.25em;"> </div>
  <div style="text-align:center;padding-top:.5em;">{{ xgovvato.x.vato }}</div>
  <div style="text-align:center;padding-top:.25em;">{{ xgovvato.x.period_start }} - {{ xgovvato.x.period_end }}</div>
</div> -->
