#artifacts {
  background-color:white;
  h1 {
    text-align:center;
    font-size: 1em;
  }
  ul.xheader {
    list-style: none;
    padding:4em .5em;
    font-size:.7em;
    li {
      display: inline-block;
      padding: 3em .5em;
      color:#124166;
      z-index:200;
      width: 5em;
      text-align: center;
      background-color:#222;
      color:#ddd;
      padding:.5em;
      border-radius:3px;
      margin-right:.5em;
      &.active {
        background-color:#fff;
        color:#444;
        padding:.5em;
        border-radius:3px;
      }
    }
  }
  .box {
    border:1px solid #aaa;
    border-radius:3px;
    width:5em;
    height:2.4em;
    display:inline-block;
    margin-right:1em;
    color:#aaa;
    position:relative;
    margin-top:-.5em;
    &:hover {
      color:#222;
    }
    i {
      padding:0 .5em;
      color:#aaa;
      position:absolute;
      top:.5em;
      right:.1em;
      // &.fa-comment {
      //   color: #aaa;
      // }
      // &.fa-arrow-up {
      //   color: #777;
      // }
    }
    .x {
      text-align:left;
      width:4em;
      height:1.5em;
      line-height: 2.5em;
      padding-left:.5em;
    }
  }
}
