<div id="artifacts" style="padding-bottom:4.15em;">
  <div style="position:relative;height:4em;background-color:{{xartifacts.xcolor}};color:#fff;font-size:1.1em;">
    <div style="font-size:1.3em;width:100%;text-align:center;padding:.5em 0;"><b>{{xartifacts.level}}</b></div>
    <div style="text-align:center;color:#aaa;padding:0;font-size:1em;color:#fff;margin-top:-.25em;xtext-transform:uppercase;">{{xartifacts.title}}</div>
  </div>


  <div class="xmenu" ng-init="xartifacts.menu=1" style="color:{{xartifacts.xcolor}}">
    <!-- <div style="display:inline-block;text-align:left;">
      <a ng-click="xartifacts.menu=1" style="color:{{xartifacts.menu===1?xartifacts.xcolor:'#666'}}">Populares</a>
      <a ng-click="xartifacts.menu=2" style="color:{{xartifacts.menu===2?xartifacts.xcolor:'#666'}}">Recientes</a>
    </div> -->
    <div style="width:100%;text-align:center;margin-top:-.5em;">
      <a ng-if="xartifacts.title !== 'Foros'" ng-click="xartifacts.menu=1" style="color:{{xartifacts.menu===1?xartifacts.xcolor:'#666'}}"><i style="font-size:1.5em;" class="fa fa-2x fa-arrow-circle-up"></i></a>
      <a ng-if="xartifacts.title === 'Foros'" ng-click="xartifacts.menu=1" style="color:{{xartifacts.menu===1?xartifacts.xcolor:'#666'}}"><i style="font-size:1.5em;" class="fa fa-2x fa-users"></i></a>
      <a ng-click="xartifacts.menu=2" style="color:{{xartifacts.menu===2?xartifacts.xcolor:'#666'}}"><i style="font-size:1.5em;" class="fa fa-2x fa-clock-o"></i></a>
      <a ng-click="xartifacts.menu=3" style="color:{{xartifacts.menu===3?xartifacts.xcolor:'#666'}}"><i style="font-size:1.5em;" class="fa fa-2x fa-bookmark"></i></a>
      <a ng-click="xartifacts.menu=4" style="color:{{xartifacts.menu===4?xartifacts.xcolor:'#666'}}"><i style="font-size:1.5em;" class="fa fa-2x fa-plus-square"></i></a>
    </div>
  </div>

  <hr style="color:{{xartifacts.xcolor}};border:1px solid {{xartifacts.xcolor}};margin:1em;">

  <div style="background-color:#fff;height:{{xartifacts.windowHeight}}px;">
    <div ng-if="xartifacts.menu===1" ng-include src="'app/components/artifacts/popular.html'"></div>
    <div ng-if="xartifacts.menu===2" ng-include src="'app/components/artifacts/recent.html'"></div>
    <div ng-if="xartifacts.menu===3" ng-include src="'app/components/artifacts/bookmarked.html'"></div>
    <div ng-if="xartifacts.menu===4" ng-include src="'app/components/artifacts/new.html'"></div>
  </div>
</div>
