<div id="artifacts" style="padding-bottom:4.15em;" ng-init="xartifacts.subtitle='Mas Apoyadas'">

  <div style="position:relative;height:4.25em;background-color:{{xartifacts.xcolor}};color:#fff;font-size:1.1em;">
    <div style="font-size:.8em;width:100%;text-align:center;padding:.75em;border-bottom:1px solid #fff;"><b>{{xartifacts.level}}</b></div>
    <div style="font-size:1.1em;width:100%;text-align:left;padding:.5em 0 0 .5em;"><b>{{xartifacts.title}}</b></div>


    <div class="xmenu" ng-init="xartifacts.menu=1" style="background-color:{{xartifacts.xcolor}};float:right;line-height:1em;height:1em;margin-top:-1em;padding-right:.25em;">
      <a ng-if="xartifacts.title === 'Foros'" ng-click="xartifacts.menu=1;xartifacts.subtitle='Mas Apoyadas'" style="color:{{xartifacts.menu===1?'#fff':'#ccc'}}"><i style="font-size:1em;" class="fa fa-1x fa-users"></i></a>
      <a ng-if="xartifacts.title !== 'Foros'" ng-click="xartifacts.menu=1;xartifacts.subtitle='Mas Apoyadas'" style="color:{{xartifacts.menu===1?'#fff':'#ccc'}}"><i style="font-size:1em;" class="fa fa-1x fa-arrow-circle-up"></i></a>
      <a ng-click="xartifacts.menu=2;xartifacts.subtitle='Mas Recientes'" style="color:{{xartifacts.menu===2?'#fff':'#ccc'}}"><i style="font-size:1em;" class="fa fa-1x fa-clock-o"></i></a>
      <a ng-click="xartifacts.menu=3;xartifacts.subtitle='Favoritas'" style="color:{{xartifacts.menu===3?'#fff':'#ccc'}}"><i style="font-size:1em;" class="fa fa-1x fa-bookmark"></i></a>
      <a ng-click="xartifacts.menu=4;xartifacts.subtitle=''" style="color:{{xartifacts.menu===4?'#fff':'#ccc'}}"><i style="font-size:1em;" class="fa fa-1x fa-plus-square"></i></a>
      <a ng-click="xartifacts.menu=5;xartifacts.subtitle=''" style="color:{{xartifacts.menu===5?'#fff':'#ccc'}}"><i style="font-size:1em;" class="fa fa-1x fa-search"></i></a>
    </div>

  </div>

  <div style="background-color:#fff;height:{{xartifacts.windowHeight}}px;">
    <div ng-if="xartifacts.menu===1" ng-include src="'app/components/artifacts/popular.html'"></div>
    <div ng-if="xartifacts.menu===2" ng-include src="'app/components/artifacts/recent.html'"></div>
    <div ng-if="xartifacts.menu===3" ng-include src="'app/components/artifacts/bookmarked.html'"></div>
    <div ng-if="xartifacts.menu===4" ng-include src="'app/components/artifacts/new.html'"></div>
  </div>

</div>
