<div layout="column" ng-cloak style="padding-bottom:4em;">
  <!-- <p style="margin-bottom: 10px;">
    <code>Propuestas Federales</code> mas apoyadas durante este mandato.
  </p> -->

  <div ng-repeat="i in [1,2,3,4,5]" style="padding:.5em 0;">
    <card name="User name" md-theme="default" xcolor="{{xartifacts.xcolor}}"></card>
  </div>

  <!-- <p class="footnote">
    Copyright <code>1910.io</code>
  </p> -->

  <!-- <div layout layout-padding layout-align="center end" style="height:200px">
    <md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>
  </div> -->

  <md-button class="md-raised md-primary" style="background-color:#aaa;margin:1em 0;width:100%;padding:.25em 0;">ver mas {{xartifacts.title}}</md-button>

</div>









<!-- <div ng-repeat="key in [10,9,8,7,6,5]" style="border-bottom:1px solid #f3f3f3;height:8em;">
  <div style="height:4.35em;padding:1em 1em 1em .5em;color:#666;line-height:1.2em;position:relative;">
    <div style="width:1em;position:absolute;right:.5em;top:1em;">
      <i class="fa fa-1x fa-bookmark" style="padding-right:.5em;color:{{xartifacts.xperiod === 'bookmarked'? '#2ea3ff':'#aaa'}};"></i>
    </div>
    <div style="position:absolute;left:.5em;top:.9em;padding-right:1.1em;">
      Poder unilateral para anular leyes u otras acciones debidamente aprobadas
      por el gobierno estatal, reducirle las pensiones a los retirados.
    </div>
  </div>
  <div style="margin:1.15em 0;">
    <div style="float:left;padding-top:.35em;padding-left:1.75em;color:#ddd;">
      <!-- <img src="/assets/images/evo1.jpg" style="height:2em;"></img>
      J.K. Rolling
    </div>
    <div style="float:right;">
      <div class="box">
        <div class="x">{{5*key}}<i class="fa fa-1x fa-comment"></i></div>
      </div>
      <div class="box">
        <div class="x">{{20*key}}<i class="fa fa-1x fa-arrow-up"></i></div>
      </div>
    </div>
  </div>
</div> -->
