<div style="height:{{xartifacts.windowHeight-250}}px;">
  <div style="padding:.5em;">
    <!-- <div><input placeholder="Titulo"></input></div> -->
    <div><textarea placeholder="{{xartifacts.title.slice(0, -1)}}" rows="10"></textarea></div>
  </div>
  <div style="height:12em;width:100%;padding:1em;">
    <button class="btn btn-block" style="font-size:1.35em;padding:.5em;background-color:{{xartifacts.xcolor}};color:#fff;">{{xartifacts.title==='Foros'?'Crear':'Publicar'}} {{xartifacts.title.slice(0, -1)}} {{xartifacts.level}}</btn>
  </div>
</div>
