<div ng-if="xartifacts.title !== 'Foros'" style="color:{{xartifacts.xcolor}};text-align:center;font-size:1em;padding:1.5em 0 .5em 0;margin-top:0;text-transform:uppercase;">{{xartifacts.title}} MAS APOYADAS</div>
<div ng-if="xartifacts.title === 'Foros'" style="color:{{xartifacts.xcolor}};text-align:center;font-size:1em;padding:1.5em 0 .5em 0;margin-top:0;text-transform:uppercase;">{{xartifacts.title}} MAS ACTIVOS</div>


<!-- <div ng-cloak="" class="navBardemoBasicUsage" >

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="xartifacts.currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="xartifacts.goto('page1')" name="page1">por mandato</md-nav-item>
      <md-nav-item md-nav-click="xartifacts.goto('page2')" name="page2">por mes</md-nav-item>
      <md-nav-item md-nav-click="xartifacts.goto('page3')" name="page3">por semana</md-nav-item>
      <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
      <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
      <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
    </md-nav-bar>
    <span>{{currentNavItem}}</span>
  </md-content>
</div> -->






<div id="{{xartifacts.title.toLowerCase()}}" ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="ESTE MANDATO">
        <md-content class="md-padding">
          <h1 class="md-display-2"></h1>
          <div ng-include src="'app/components/artifacts/list.html'"></div>
        </md-content>
      </md-tab>
      <md-tab label="ESTE MES" ng-class="xartifacts.title.toLowerCase()">
        <md-content class="md-padding">
          <div ng-include src="'app/components/artifacts/list.html'"></div>
        </md-content>
      </md-tab>
      <md-tab label="ESTA SEMANA" ng-class="xartifacts.title.toLowerCase()">
        <md-content class="md-padding">
          <div ng-include src="'app/components/artifacts/list.html'"></div>
        </md-content>
      </md-tab>
    </md-tabs>
</div>



<!-- <div class="sublinks" style="font-size:1em;margin:1em auto;border:1px solid red;" ng-init="xartifacts.sublink=3">
  <div class="col-xs-4" style="font-size:.7em;"><a ng-click="xartifacts.sublink=3" style="background-color: {{xartifacts.sublink===3?'#222':'#666'}}">POR MANDATO</a></div>
  <div class="col-xs-4" style="font-size:.7em;"><a ng-click="xartifacts.sublink=2" style="background-color: {{xartifacts.sublink===2?'#222':'#666'}}">POR MES</a></div>
  <div class="col-xs-4" style="font-size:.7em;"><a ng-click="xartifacts.sublink=1" style="background-color: {{xartifacts.sublink===1?'#222':'#666'}}">POR SEMANA</a></div>
</div> -->

<!-- <div style="margin-top:1em;" ng-repeat="i in [1,2,3,4,5]">
  <div ui-sref="artifact" style="border:1px solid #ddd;border-radius:2px;margin:0 .5em;" class="md-padding bottomSheetdemoBasicUsage" ng-cloak ng-init="xartifacts.showList=false">
    <p>Bottom sheets can be displayed by clicking one of the buttons below.  Once shown, it can be
      dismissed by either swiping down or clicking in the shaded area....</p>
    <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
      <!-- <md-button flex="50" class="md-primary md-raised" ng-click="xartifacts.showList=true">Show as List</md-button>
    </div>

    <div ng-if="alert">
      <br>
      <b layout="row" layout-align="center center" class="md-padding">
        {{alert}}
      </b>
    </div>

    <md-bottom-sheet style="margin:0 .5em;xheight:4em;" ng-show="xartifacts.showList" class="md-list md-has-header" ng-cloak>
      <md-list>
        <md-list-item ng-repeat="item in xartifacts.items">
          <md-button
            ng-click="xartifacts.listItemClick($index);xartifacts.showList=false"
            md-autofocus="$index == 2"
            class="md-list-item-content" >
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <span class="md-inline-list-icon-label">{{ item.name }}</span>
          </md-button>
        </md-list-item>
      </md-list>
    </md-bottom-sheet>
  </div>
</div> -->
