<div id="xmenu" class="visible-xs">
  <div class="xs-menu" style="bottom:0;">
    <ul class="row">
      <li class="col-xs-3" ng-click="xmenu.xselect('score')" ng-class="{active: xmenu.xselection === 'score'}"><i class="fa fa-2x fa-star"></i><p>Calificación</p></li>
      <li class="col-xs-3" ng-click="xmenu.xselect('artifacts')" ng-class="{active: xmenu.xselection === 'artifacts'}" ><i class="fa fa-2x fa-bullseye"></i><p>Propuestas</p></li>
      <li class="col-xs-3" ng-click="xmenu.xselect('forums')" ng-class="{active: xmenu.xselection === 'forums'}"><i class="fa fa-2x fa-commenting"></i><p>Foros</p></li>
      <li class="col-xs-3" ng-click="xmenu.xselect('govs')" ng-class="{active: xmenu.xselection === 'govs'}"><i  class="fa fa-2x fa-{{xmenu.subs==='Anuncios'? 'bullhorn' : 'map'}}"></i><p>{{xmenu.subs}}</p></li>
    </ul>
  </div>
</div>
