<div id="xmenu" class="visible-xs">
  <div class="xs-menu" style="bottom:0;">
    <ul class="row" ng-hide="xmenu.subs===null || xmenu.subs===''">
      <li ng-click="xmenu.xselect('score')" ng-class="{active: xmenu.xselection === 'score'}"><i class="fa fa-2x fa-building"></i><p>Gobierno</p></li>
      <li ng-click="xmenu.xselect('suggestions')" ng-class="{active: xmenu.xselection === 'suggestions'}"><i class="fa fa-2x fa-bullseye"></i><p>Propuestas</p></li>
      <li ng-click="xmenu.xselect('complaints')" ng-class="{active: xmenu.xselection === 'complaints'}" ><i class="fa fa-2x fa-asterisk"></i><p>Quejas</p></li>
      <li ng-click="xmenu.xselect('forums')" ng-class="{active: xmenu.xselection === 'forums'}"><i class="fa fa-2x fa-commenting"></i><p>Foros</p></li>
      <li ng-click="xmenu.xselect('govs')" ng-class="{active: xmenu.xselection === 'govs'}"><i  class="fa fa-2x fa-{{xmenu.subs==='Comunicados'? 'bullhorn' : 'map'}}"></i><p>{{xmenu.subs}}</p></li>
    </ul>
  </div>
</div>
