<div class="board">
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="description" style="float:right;padding-top:3px;">Muy Bien</i>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description" style="float:right;padding-top:3px;">Bien</i>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description" style="float:right;padding-top:3px;">Regular</i>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description" style="float:right;padding-top:3px;">Mal</i>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description" style="float:right;padding-top:3px;">Muy Mal</i>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description" style="float:right;padding-top:3px;">No Quiero Votar</i>
  </div>
</div>
