<div class="board">
  <div class="title">
    Calificación
    <div class="title-right">Ciudadanos</div>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="description">Muy Bien</i>
    <div class="score">10</div>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description">Bien</i>
    <div class="score">30</div>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description">Regular</i>
    <div class="score">50</div>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description">Mal</i>
    <div class="score">300</div>
  </div>
  <div class="board-row">
    <i class="fa fa-1x fa-star"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="fa fa-1x fa-star off"></i>
    <i class="description">Muy Mal</i>
    <div class="score">300</div>
  </div>
</div>
