<div class="visible-xs" id="score" style="height:{{windowHeight-100}}px;background-color:#eee;">

  <div style="text-align:center;padding:1em 0 1em 0;">
    <i class="fa fa-2x fa-star" style="color:#222;ffd700;"></i>
    <i class="fa fa-2x fa-star-half-full" style="color:#222;ffd700;"></i>
    <i class="fa fa-2x fa-star" style="color:#ddd;"></i>
    <i class="fa fa-2x fa-star" style="color:#ddd;"></i>
    <i class="fa fa-2x fa-star" style="color:#ddd;"></i>
  </div>
  <div style="text-align:center;padding-bottom:2.2em;font-size:.75em;margin-top:-.5em;">
    423 Ciudadanos
  </div>

  <div>
  </div>

</div>
